
@media only screen and (max-width: 991px){
.main-responsive-nav .main-responsive-menu.mean-container .mean-nav ul {
	flex-direction: column !important;
}
}

.navbar-nav{
	flex-direction: row-reverse !important;
}
.about-area{
	direction: rtl;

}
.about-area-service{
direction: rtl;
text-align: right;

}
.projects-slider .projects-item .content h3,p{
	direction: rtl;
	text-align: right;
}
.main-banner-area-head{
	flex-direction: row-reverse;
	padding-right: 10px;

}
.banner-social-buttons{
	position: absolute;
left: -10px;
right: auto;
}
.main-banner-content{
	text-align: right;
}
.experience h4{
	left: auto;

}
.experience p{
	padding-left: 0;
	padding-right: 120px;
}

@media only screen and (max-width: 767px){
	
	.banner-social-buttons {
		position: relative; 
		margin: 0;
	}
	.experience p{
		padding: 0;
	}
}
.approvals-content .text{
	min-width: 50px
}
.main-banner-area-head{
	justify-content: flex-start;
padding: 0 5%;
}
.about-content{
	display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.about-list{
	padding: 0;
	display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.about-content .about-list li i{
	left: auto;
	right: 0;
	padding-left: 0;

}
.about-content span{
	padding-right: 30px;
}

/* .approvals-content{
	justify-content: flex-end;
} */
.contact-area{
	flex-direction: row-reverse;
}
.single-footer-widget .info-contact{
	padding-right: 30px;

	text-align: end;
}
.single-footer-widget .info-contact i{
left: auto;
right: 0;
}